[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DAMEfinder"]
	path = DAMEfinder
	url = https://github.com/markrobinsonuzh/damefinder
[submodule "flagme"]
	path = flagme
	url = https://git.bioconductor.org/packages/flagme
[submodule "gsmoothr"]
	path = gsmoothr
	url = https://github.com/cran/gsmoothr
[submodule "Repitools"]
	path = Repitools
	url = https://git.bioconductor.org/packages/Repitools
